.seats-page {
  width: 100%;
  height: auto;
  margin: 108px 0 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seats-page > h6:first-child {
  margin-bottom: 21px;
}

.seats {
  width: calc(100% - 48px);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 18px;
  column-gap: 7px;
}